table{
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

ul.ReactTabs__TabList {
  margin: 0 !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.table-title {
  font-size: 3em;
  background-color: white;
  text-align: center;
  font-weight: 300;
}
